html,
body {
  overflow-x: hidden;
  height: 100%;
  color: #111111;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.box {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
  margin: 80px 200px;
}

.footer {
  flex: 0 0 auto;
}